# Build output
dist/

# Astro
.astro/

# Dependencies
node_modules/

# Environment
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Java
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*
local.properties

# Eclipse
.classpath
.project
.settings/
bin/

# IntelliJ IDEA
*.iml
*.iws
*.ipr
out/

# NetBeans
nbproject/
build/
nbbuild/
nbdist/
.nb-gradle/
*.code-workspace

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
!gradle-wrapper.jar
